@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

.common__section {
  background: url("../../../assets/images/bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 150px;
  height: 250px;
}

.common__section h2 {
  color: #fff;
  margin-top: 25px;
}
.submenu {
  padding: 10px;
  color: #fff;
  font-size: 0.75rem;
}
a.submenu:hover {
  color: yellow;
  font-weight: 800;
}

:root {
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  --Very-dark-blue-main-BG: hsl(217, 54%, 11%);
  --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
  --Very-dark-blue-line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
}
* {
  font-family: "Outfit", sans-serif;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}
.img {
  max-width: 100%;
}
.body {
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nftcard {
  background-color: var(--Very-dark-blue-card-BG);
  box-shadow: 0px 0px 8px 10px rgba(0, 0, 0, 0.2);
  width: 350px;
  border-radius: 1rem;
}
.card-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
}
.nftheader {
  position: relative;
  cursor: pointer;
}
.nft-main-img {
  border-radius: 1rem;
  height: 80%;
  width: 100%;
  padding-bottom: 1.5em;
}
.nftoverlay {
  background-color: var(--Cyan);
  opacity: 40%;
  position: absolute;
  top: 0;
  bottom: 2px;
  left: 0;
  right: 0;
  border-radius: 1rem;
  display: none;
}
.nftview {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.nftheader:hover .overlay,
.nftheader:hover .nftview {
  display: block;
}
.nftmain {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.nfttitle {
  font-size: 1.2rem;
  color: var(--White);
  cursor: pointer;
}
.nfttitle:hover {
  color: var(--Cyan);
}
.nftcontent {
  color: var(--Soft-blue);
  line-height: 30px;
  font-weight: 300;
}
.nfticons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.5em;
}
.nfticons div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nft-icon-img{
  height: 30px;
  width: 30px;
  border-radius: 100%;
}
.eth {
  color: var(--Cyan);
}
.time {
  color: var(--Soft-blue);
}
.divider {
  width: 100%;
  height: 2px;
  background-color: var(--Very-dark-blue-line);
}
.nftfooter {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nftfooter img {
  width: 40px;
  border: 1px solid var(--White);
  border-radius: 50%;
}
.nftfooter p {
  color: var(--Soft-blue);
}
.nftfooter b {
  color: var(--White);
  cursor: pointer;
}
.nftfooter b:hover {
  color: var(--Cyan);
}

@media screen and (min-width: 320px) and (max-width: 435px) {
  .submenu {
    padding: 9px;
    color: #fff;
    font-size: 0.75rem;
  }
  .common__section h2 {
    color: #fff;
    margin-top: 25px;
    font-size: 1.8rem;
  }
}
